<!-- <app-user-menu></app-user-menu> -->

<div class="ion-page" >
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="user-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Users</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding">
    <app-add-user-form></app-add-user-form>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button id="add-user-btn">
        <ion-icon name="add" ></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</div>
