<!-- <app-user-menu></app-user-menu> -->

<div class="ion-page" >
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="user-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Users</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="">
    

    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullFactor="0.8" pullMin="60" pullMax="120" >
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-grid-wrapper>
      <ion-searchbar (ionClear)="fetchUsers()"   (ionChange)="searchUserByName($event)" placeholder="Searh Name"  [debounce]="250" showCancelButton="always"></ion-searchbar>
      <app-user-list [(users)]="users"></app-user-list>
    </app-grid-wrapper>


    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <app-add-user-form></app-add-user-form>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button id="add-user-btn">
        <ion-icon name="add" ></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</div>
