<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-grid-wrapper>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordForm_submit()">
      <ion-input required formControlName="password" type="{{ isPasswordVisible ? 'text' : 'password' }}"  label="Password " labelPlacement="floating" fill="solid"></ion-input>
      <app-input-err-msg *ngIf="password?.hasError('required') && password?.touched">Password is required</app-input-err-msg>
      <app-input-err-msg *ngIf="password?.hasError('minlength') && password?.touched">Length must be minimum if 8 characters</app-input-err-msg>
      <app-input-err-msg *ngIf="resetPasswordForm.errors?.['passwordMismatch'] && password?.touched">Password doesn't match</app-input-err-msg>

      <ion-input required formControlName="password_confirmation" type="{{ isPasswordVisible ? 'text' : 'password' }}" label="Password Confirmation" labelPlacement="floating" fill="solid"></ion-input>

      <ion-button (click)="togglePassword($event)" expand="block" fill="clear" >
        {{ isPasswordVisible ? 'Hide Password' : 'See Password' }}
      </ion-button>
      <br>
      <ion-button expand="block" color="primary" type="submit" [disabled]="resetPasswordForm.invalid">
        Login
      </ion-button>
    </form>
  </app-grid-wrapper>
</ion-content>
