
@font-face {
    font-family: 'RegularBrush';
    src: URL('../../../assets/fonts/regular_brush-webfont.woff') format ('woff'), url('../../../assets/fonts/regular_brush-webfont.woff2') format('woff2');
}
.tagline{
    font-family: 'RegularBrush';
}
// @media (prefers-color-scheme: light) {
//     ion-segment{
//         position: sticky;
//         top: 1rem;
//         z-index: 2;
//         background: white;
//     }
//     ion-segment.segment-button-checked{
//         background: var(--ion-color-primary) !important;
//     }
// }