<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><i class="fa-solid fa-screwdriver-wrench mr-2"></i>Recover Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-grid-wrapper>
    <ion-input [(ngModel)]="email" label="Enter Email" labelPlacement="floating" fill="solid" type="email" placeholder="johndoe@gmail.com"></ion-input>
    <ion-button (click)="sendPasswordResetLink()" expand="block">
      Send Password Reset Link
    </ion-button>
  </app-grid-wrapper>
</ion-content>
