<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>View Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-grid-wrapper id="contentToPrint">
    <ion-card class="mx-0">
      <ion-card-content>
        <ion-label color="dark">Order ID : {{  order.id  }}</ion-label><br>
        <ion-label color="dark">Date Ordered : {{order.date_ordered | date:'MMM d, y h:mm a'}}</ion-label><br>
        <ion-label color="dark">Through : {{ order.is_pos ? 'POS' : 'Online'}}</ion-label><br>
        <ion-label color="dark">Created By : {{ order.user.userProfile.name }}</ion-label><br>
        <ion-label color="dark" *ngIf="order.address">Location : {{ order.address }}</ion-label><br>
        <ion-label color="dark" *ngIf="order.is_pos">Table #{{ order.table_no }}<br></ion-label>
        <ion-label class="font-weight-bold " color="{{ order.status == 'Pending' ? 'medium' : (order.status == 'Completed' ? 'primary' : 'warning') }}">{{ order.status }}</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label><i class="fa-solid fa-screwdriver-wrench mr-2"></i>Actions</ion-label>
      </ion-list-header>
      <ng-container *ngIf="order.is_pos">
        <ion-item button details="none" *ngIf="order.status == 'Processing'" (click)="posMarkAsCompleted()">
          <ion-icon slot="start" name="checkmark-circle"></ion-icon>
          <ion-label>Mark as Completed</ion-label>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="!order.is_pos">
        <ion-item button details="none" *ngIf="order.status == 'In Delivery'" (click)="posMarkAsCompleted()">
          <ion-icon slot="start" name="checkmark-circle"></ion-icon>
          <ion-label>Mark as Completed</ion-label>
        </ion-item>
        <ion-item button details="none" *ngIf="order.status == 'Pending'" (click)="processOrder()">
          <ion-icon slot="start" name="checkmark-circle"></ion-icon>
          <ion-label>Process Order</ion-label>
        </ion-item>
        <ion-item button details="none" *ngIf="order.status == 'Pending'" (click)="cancelOrder()">
          <ion-icon slot="start" name="stop-circle"></ion-icon>
          <ion-label>Cancel Order</ion-label>
        </ion-item>
        <ion-item button details="none" (click)="viewLocation()">
          <ion-icon slot="start" name="location"></ion-icon>
          <ion-label>View Location</ion-label>
        </ion-item>
        <ion-item button details="none" lines="none" *ngIf="order.status == 'Processing'"(click)="markAsReadyForDelivery()">
          <ion-icon slot="start" name="bicycle"></ion-icon>
          <ion-label>Mark as Ready for Delivery</ion-label>
        </ion-item>
        <ion-item button details="none" lines="none" *ngIf="order.status == 'Ready for Delivery'"(click)="markAsDelivery()">
          <ion-icon slot="start" name="bicycle"></ion-icon>
          <ion-label>Mark as In Delivery</ion-label>
        </ion-item>
      </ng-container>
      <ion-item button (click)="viewReceipt()">
        <ion-icon slot="start" name="receipt"></ion-icon>
        <ion-label>Generate Reciept</ion-label>
      </ion-item>
      <ion-item button  (click)="viewItems()">
        <ion-icon slot="start" name="list"></ion-icon>
        <ion-label>View Items</ion-label>
      </ion-item>
    </ion-list>
  </app-grid-wrapper>

  <ion-modal #directionViewer [initialBreakpoint]="1" [breakpoints]="[0, 0.5, 1]">
    <ng-template >
      <ion-content>
        <app-direction-viewer [end]="location" [start]="appSettings.json_store_location"></app-direction-viewer>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
