/* styles.css */
@media print {
    ion-header{
      display: none;
    }
    body * {
      visibility: hidden !important;
    }
    #contentToPrint, #contentToPrint * {
      visibility: visible;
    }
    #contentToPrint {
      position: absolute;
      left: 0;
      top: 0;
    }
  }