<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Product Variant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-grid-wrapper>
    <form [formGroup]="addProductVariantForm" (ngSubmit)="submitAddProductVariant()">
      <input formControlName="product_item_id" type="hidden" >
      <ng-container *ngIf="phase == 1">
        <ion-input   fill="solid"  label="Name" labelPlacement="floating" formControlName="name" type="text"></ion-input>
        <app-input-err-msg *ngIf="name?.hasError('required') && name?.touched">Variant Name is required</app-input-err-msg>
        <app-input-err-msg *ngIf="name?.hasError('maxlength') && name?.touched">Max Length is 1000 characters</app-input-err-msg>

        <ion-input  fill="solid"  label="Price" labelPlacement="floating" formControlName="price" type="number"></ion-input>
        <app-input-err-msg *ngIf="price?.hasError('required') && price?.touched">Price is required</app-input-err-msg>

        <ion-input  fill="solid"  label="Description" labelPlacement="floating" formControlName="description" type="text"></ion-input>
        <app-input-err-msg *ngIf="description?.hasError('required') && description?.touched">Description is required</app-input-err-msg>
        <app-input-err-msg *ngIf="description?.hasError('maxlength') && description?.touched">Max Length is 5000 characters</app-input-err-msg>

        <br>
        <ion-button  (click)="next()" expand="block" color="primary" fill="outline" [disabled]="name.invalid || description.invalid || price.invalid">
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          Next
        </ion-button>
      </ng-container>
      
      <ng-container *ngIf="phase ==2">
        <app-image-cropper showUploadButton="false" (onImageCropped)="onImageCropped($event)"></app-image-cropper>
        <ion-button  (click)="back()" expand="block" color="primary" fill="outline" >
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Back
        </ion-button>

        <ion-button  expand="block" color="primary" type="submit" [disabled]="addProductVariantForm.invalid">
          <ion-icon slot="start" name="save-outline"></ion-icon>
          Save
        </ion-button>
      </ng-container>
    </form>
  </app-grid-wrapper>
</ion-content>
