<ion-menu type="overlay" menuId="employee-portal-menu" contentId="user-content" color="primary" swipeGesture="false" >
  <ion-header [translucent]="true">
    <ion-toolbar >
      <ion-title class="font-weight-bold">Employee Portal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list>
      <ion-menu-toggle menu="employee-portal-menu" auto>
        <ion-item  lines="none" [routerLink]="['/home']" routerLinkActive="selected">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
      </ion-menu-toggle> 
      <ion-menu-toggle menu="employee-portal-menu" auto [routerLink]="['/dashboard']" routerLinkActive="selected">
        <ion-item  lines="none" >
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label>Employee Dashboard</ion-label>
        </ion-item>
      </ion-menu-toggle>  
      <ion-menu-toggle menu="employee-portal-menu" auto *ngIf="auth.employee.privilege_level == 1">
        <ion-item  lines="none" [routerLink]="['/employees']" routerLinkActive="selected">
          <ion-icon slot="start" name="people-outline"></ion-icon>
          <ion-label>Employees</ion-label>
        </ion-item>
      </ion-menu-toggle>  
      <ion-menu-toggle menu="employee-portal-menu" auto >
        <ion-item  lines="none" [routerLink]="['/payrolls']" routerLinkActive="selected">
          <ion-icon slot="start" name="receipt-outline"></ion-icon>
          <ion-label>Payrolls</ion-label>
        </ion-item>
      </ion-menu-toggle>  
      <ion-menu-toggle menu="employee-portal-menu">
        <app-menu-logout class="py-3"></app-menu-logout>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
