<ion-menu type="overlay" menuId="products-menu" contentId="user-content" color="primary" swipeGesture="false" >
  <ion-header [translucent]="true">
    <ion-toolbar >
      <ion-title class="font-weight-bold">Product Management</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- <ion-list class="p-0 m-0" color="primary"> -->
      
      <ng-container *ngFor="let menu of menus">
        <ion-menu-toggle menu="products-menu">
          <ion-item button  routerLink="{{ menu.route }}" lines="none" details="none" routerLinkActive="selected">
            <ion-icon  slot="start" name="{{ menu.icon }}"></ion-icon>
            <ion-label >{{ menu.text }}</ion-label>
          </ion-item >
        </ion-menu-toggle>
      </ng-container>
      <ion-list>
        <ion-list-header>Menu</ion-list-header>
        <ion-menu-toggle menu="products-menu" auto>
          <ion-item  lines="none" [routerLink]="['/menu']" routerLinkActive="selected">
            <ion-icon slot="start" name="radio-button-off-outline"></ion-icon>
            <ion-label>P.O.S.</ion-label>
          </ion-item>
        </ion-menu-toggle>  
        <ion-menu-toggle menu="products-menu">
          <ion-item  lines="none" [routerLink]="['/orders']" routerLinkActive="selected">
            <ion-icon slot="start" name="radio-button-off-outline"></ion-icon>
            <ion-label>Orders</ion-label>
          </ion-item>
        </ion-menu-toggle>  
      </ion-list>
      <ion-list>
        <app-menu-logout class="py-3"></app-menu-logout>
      </ion-list>
    <!-- </ion-list> -->
  </ion-content>
</ion-menu>
