<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row align-items-center h-100 ">
    <div class="box row " >
        <ion-img class="cover_photo"  [src]="cover_photo"></ion-img>
        <br>
        <ion-button expand="block" *ngIf="!userService.isAuth()" [routerLink]="['/signin']"  >
          Sign In
        </ion-button>
        <ion-button expand="block" *ngIf="!userService.isAuth()" fill="outline" [routerLink]="['/signup']" >
          Sign Up
        </ion-button>
        <ion-button *ngIf="userService.isAuth()" expand="block" [routerLink]="['/menu']">
          Go to Menu
        </ion-button>
      </div>
  </div>
  <canvas id="c"></canvas>
 
</ion-content>
