.box{
    max-width: 500px;
    display: block;
    margin: 0rem auto;
    border-radius: .3rem;
    overflow-y: hidden;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    ion-img{
        // filter: ;
        mix-blend-mode: difference;
    }
}
.row{
    margin: 0rem;
    padding: .5rem !important;
}

body{
    position: relative in !important;
    margin: 0 in !important;
  }

  canvas#c{
    position: absolute !important;
    top: 0px;
    z-index: -2;
    // cursor: crosshair in !important;
  }

  canvas{
    mix-blend-mode: multiply !important;
  }