<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="inventory-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Supply Inventory</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search Name" (ionClear)="inventoryService.fetchSupplyItems()"   (ionChange)="searchItemtByName($event)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullFactor="0.8" pullMin="60" pullMax="120" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-grid-wrapper >
    <ion-list>
      <ion-item *ngFor="let i of inventoryService.supplyItems" button details="none" (click)="viewDetails(i)">
        <ion-label>{{ i.supply_name }}</ion-label>
      </ion-item>
    </ion-list>
  </app-grid-wrapper>

  <ion-modal #viewDetailsModal [initialBreakpoint]="0.8" [breakpoints]="[0, 8, 1]">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label>
              <ion-note>Supply Name</ion-note>
              <ion-label>{{ selectedSupplyItem.supply_name }}</ion-label>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-note>Critical Level</ion-note>
              <ion-label>{{ selectedSupplyItem.critical_level }}</ion-label>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-note>Specifications</ion-note>
              <ion-label class="multiline">{{ selectedSupplyItem.specifications }}</ion-label>
            </ion-label>
          </ion-item>
        </ion-list>
        <br>
        <ion-list>
          <ion-list-header>
            <ion-label>Actions</ion-label>
          </ion-list-header>
          <ion-item button (click)="editSupplyItem(selectedSupplyItem)">
            <ion-icon slot="start" name="create" ></ion-icon>
            <ion-label>Edit</ion-label>
          </ion-item>
          <ion-item button (click)="addStock(selectedSupplyItem)">
            <ion-icon slot="start" name="add"></ion-icon>
            <ion-label>Add Stock</ion-label>
          </ion-item>
          <ion-item button>
            <ion-icon slot="start" name="archive" color="danger"></ion-icon>
            <ion-label color="danger">Archive</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/supply-inventory/create']" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
