<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="inventory-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Supply Inventory</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search Name" (ionClear)="inventoryService.fetchSupplyItems()"   (ionChange)="searchItemtByName($event)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullFactor="0.8" pullMin="60" pullMax="120" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/supply-inventory/create']" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-grid-wrapper >
    <ion-list>
      <ion-label color="medium" *ngIf="inventoryService.supplyItems.length <= 0"><p class="text-center">No Items Found</p></ion-label>
      <ion-item *ngFor="let i of inventoryService.supplyItems" button details="none" (click)="viewDetails(i)">
        <ion-label>{{ i.supply_name }}</ion-label>
        <ion-label slot="end"
          color="{{i.stock_details.status == 'NO STOCK' ? 'medium' : (i.stock_details.status == 'LOW STOCK' ? 'danger' : '') }}">
          {{ i.stock_details.status }}
        </ion-label>
      </ion-item>
    </ion-list>
  </app-grid-wrapper>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-modal #viewDetailsModal [initialBreakpoint]="0.8" [breakpoints]="[0, 8, 1]">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label>
              <ion-note>Supply Name</ion-note>
              <ion-label>{{ selectedSupplyItem.supply_name }}</ion-label>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-note>Critical Level</ion-note>
              <ion-label>{{ selectedSupplyItem.critical_level }}</ion-label>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-note>Specifications</ion-note>
              <ion-label class="multiline">{{ selectedSupplyItem.specifications }}</ion-label>
            </ion-label>
          </ion-item>
        </ion-list>
        <br>
        <ion-list>
          <ion-list-header>
            <ion-label>Actions</ion-label>
          </ion-list-header>
          <ion-item button (click)="editSupplyItem(selectedSupplyItem)">
            <ion-icon slot="start" name="create" ></ion-icon>
            <ion-label>Edit</ion-label>
          </ion-item>
          <ion-item button (click)="addStock(selectedSupplyItem)">
            <ion-icon slot="start" name="add"></ion-icon>
            <ion-label>Add Stock</ion-label>
          </ion-item>
          <ion-item button (click)="viewStocks(selectedSupplyItem)">
            <ion-icon slot="start" name="eye"></ion-icon>
            <ion-label>View Stocks</ion-label>
          </ion-item>
          <ion-item button>
            <ion-icon slot="start" name="archive" color="danger"></ion-icon>
            <ion-label color="danger">Archive</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #viewStocksModal [initialBreakpoint]="1" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-content>
        <app-skeleton-loader *ngIf="stocksLoader"></app-skeleton-loader>
        <ion-note *ngIf="!stocksLoader && stocks.length <= 0">
          <p class="text-center py-3">No Stocks found</p>
        </ion-note>
        <ng-container *ngIf="!stocksLoader && stocks.length > 0 ">
          <ion-list>
            <ion-item>
              <ion-label>
                <ion-note>Supply Name</ion-note>
                <ion-label>{{ selectedSupplyItem.supply_name }}</ion-label>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-note>Critical Level</ion-note>
                <ion-label>{{ selectedSupplyItem.critical_level }}</ion-label>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-note>Specifications</ion-note>
                <ion-label class="multiline">{{ selectedSupplyItem.specifications }}</ion-label>
              </ion-label>
            </ion-item>
          </ion-list>
          <br>
          <ion-list>
            <ion-list-header>
              <ion-label>Stocks</ion-label>
              <ion-button><ion-icon slot="start" name="print"></ion-icon>Print</ion-button>
            </ion-list-header>
            <ion-segment value="1" (ionChange)="stockSegment_change($event)">
              <ion-segment-button value="1">
                <ion-label>In Stock</ion-label>
              </ion-segment-button>
              <ion-segment-button value="0">
                <ion-label>Depleted</ion-label>
              </ion-segment-button>
            </ion-segment>
            <ng-container *ngFor="let stock of stocks">
              <ion-item *ngIf="stockSegmentValue == 0 && stock.remaining <= 0">
                <ion-label>
                  <ion-label>Batch No.: {{ stock.batch_no }}</ion-label>
                  <ion-note *ngIf="stock.expiration_date">Will Expire on {{ stock.expiration_date | date:'mediumDate' }}<br></ion-note>
                  <ion-note>Amount Added: {{ stock.stock_amount }}</ion-note><br>
                  <ion-note color="danger">Depleted</ion-note><br>
                </ion-label>
              </ion-item>
              <ion-item-sliding *ngIf="stockSegmentValue == 1 && stock.remaining > 0">
                <ion-item>
                  <ion-label>
                    <ion-label>Batch No.: {{ stock.batch_no }}</ion-label>
                    <ion-note *ngIf="stock.expiration_date">Will Expire on {{ stock.expiration_date | date:'mediumDate' }}<br></ion-note>
                    <ion-note>Amount Added: {{ stock.stock_amount }}</ion-note><br>
                    <ion-note>{{ stock.remaining }} Remaining</ion-note><br>
                  </ion-label>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option color="primary" (click)="pullSupplyStock(stock)">Pull</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ng-container>
          </ion-list>
        </ng-container>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
