<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cancel Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-grid-wrapper>
    <form [formGroup]="cancelOrderForm" (ngSubmit)="submitCancelOrderForm()">
      <ion-textarea label="State your reason" labelPlacement="floating" formControlName="reason"></ion-textarea>
      <ion-button expand="block" color="primary" type="submit" [disabled]="cancelOrderForm.invalid">
        Cancel Order
      </ion-button>
    </form>
  </app-grid-wrapper>
</ion-content>
