<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><i class="fa-solid fa-bag-shopping mr-1"></i>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-grid-wrapper>
    <ion-list>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Order Items</ion-label>
        </ion-item-divider>
        <ng-container *ngFor="let i of checkout">
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="{{ i.product_item.imageData }}" />
            </ion-thumbnail>
            <ion-label>
              <ion-label>{{ i.product_item.name }}</ion-label>
              <ion-note>Variation: {{ i.variant.name }}</ion-note><br>
              <ion-note>{{ i.variant.price | currency:'PHP' }}</ion-note>
            </ion-label>
          </ion-item>
        </ng-container>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Other Details</ion-label>
        </ion-item-divider>
        <!-- <ion-select #deliveryMode (ionChange)="onSelectDelivery()" class="mb-2" fill="solid" label="Delivery Mode" labelPlacement="floating" placeholder="Select Delivery Mode">
          <ng-container *ngFor="let i of delivery_types">
            <ion-select-option  value="{{ i.id }}">{{ i.name }}</ion-select-option>
          </ng-container>
        </ion-select> -->
        <ion-input value="{{ 'latitude: ' +  location.lat + ', longitude: ' + location.long }}"  readonly *ngIf="selectedDelivery == 3" #address fill="solid" type="text" label="Pick Location" labelPlacement="floating" placeholder="Select Delivery Address" (click)="selectCoordinates()"></ion-input>
        <ion-input [value]="deliveryCharge" readonly *ngIf="selectedDelivery == 3" #address fill="solid" type="text" label="Delivery Charge" labelPlacement="floating" ></ion-input>
        <ion-textarea #notesInput fill="solid" label="Notes" labelPlacement="floating"></ion-textarea>
      </ion-item-group>
    </ion-list>



    <ion-button expand="block" fill="solid" color="primary" (click)="placeOrder()">
      <ion-icon slot="start" name="card"></ion-icon>
      Place Order
    </ion-button>
  </app-grid-wrapper>

  <!-- <ion-modal #address_selector [initialBreakpoint]=".9" [breakpoints]="[0, 0.5, 0.9]">
    <ng-template >
      <ion-content>
        <app-address-selector (onAddressSelect)="address_selected($event)"></app-address-selector>
      </ion-content>
    </ng-template>
  </ion-modal> -->

  <ion-modal #map_modal [initialBreakpoint]="1" [breakpoints]="[0, 0.5, 1]">
    <ng-template >
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="closeMapModal()">
              Close
            </ion-button>
          </ion-buttons>
          <ion-title>Select Location</ion-title>
        </ion-toolbar>
        <!-- <ion-toolbar>
          <ion-searchbar (ionInput)="searchAddress($event)" (ionClear)="address_searchbar_clear()" (ionCancel)="address_searchbar_clear()" placeholder="Enter Address" [debounce]="250" showCancelButton="always"></ion-searchbar>
          <ion-list class="address_searchbar_results" *ngIf="addresses_suggestions.length > 0">
            <ng-container *ngFor="let place of addresses_suggestions">
              <ion-item button (click)="address_searchbar_selected(place)">
                <ion-label>{{ place.display_name }}</ion-label>
              </ion-item>
            </ng-container>
          </ion-list>
        </ion-toolbar> -->
      </ion-header>
      <ion-content>
        <app-coordinate-selector (onMapSelect)="coordinates_selected($event)"></app-coordinate-selector>
      </ion-content>
    </ng-template>
  </ion-modal>
  
</ion-content>
