<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-grid-wrapper>

    <form [formGroup]="editProductForm" (ngSubmit)="submitEditProduct()">
      <ion-input   fill="solid"  label="Name" labelPlacement="floating"  required formControlName="name" type="text"></ion-input>
      <app-input-err-msg *ngIf="name?.hasError('required') && name?.touched">Category Name is required</app-input-err-msg>
      <app-input-err-msg *ngIf="name?.hasError('maxlength') && name?.touched">Max Length is 1000 characters</app-input-err-msg>

      <ion-textarea  fill="solid" labelPlacement="floating"counter maxlength="5000" label="Description" formControlName="description" ></ion-textarea>
      <app-input-err-msg *ngIf="description?.hasError('required') && description?.touched">Description is required</app-input-err-msg>
      <app-input-err-msg *ngIf="description?.hasError('maxlength') && description?.touched">Max Length is 5000 characters</app-input-err-msg>

      <ion-select fill="solid"  label="Product Category" labelPlacement="floating" formControlName="product_category" value="{{ product.product_category_id }}">
          <ion-select-option *ngFor="let category of categories" value="{{ category.id }}" >{{ category.name }}</ion-select-option>
      </ion-select>
      <app-input-err-msg *ngIf="product_category?.hasError('required') && product_category?.touched">Category is required</app-input-err-msg>
      

      <ion-button class="pt-2" expand="block" color="primary" type="submit" [disabled]="editProductForm.invalid">
        Save Changes
      </ion-button>
    </form>

  </app-grid-wrapper>
</ion-content>
