<ion-menu type="overlay" menuId="inventory-menu" contentId="user-content" color="primary" swipeGesture="false" >
  <ion-header [translucent]="true">
    <ion-toolbar >
      <ion-title class="font-weight-bold">Inventory</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-menu-toggle menu="inventory-menu" auto>
      <ion-item  lines="none" [routerLink]="['/home']" routerLinkActive="selected">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
    </ion-menu-toggle>  
    <ion-menu-toggle menu="inventory-menu" auto>
      <ion-item  lines="none" [routerLink]="['/supply-inventory']" routerLinkActive="selected">
        <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
        <ion-label>Supply</ion-label>
      </ion-item>
    </ion-menu-toggle>  
    <ion-menu-toggle menu="inventory-menu" auto>
      <ion-item  lines="none" [routerLink]="['/equipment-inventory']" routerLinkActive="selected">
        <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
        <ion-label>Equipment</ion-label>
      </ion-item>
    </ion-menu-toggle>  
    <app-menu-logout class="py-3"></app-menu-logout>

  </ion-content>
</ion-menu>
