<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button menu="user-menu"></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Category Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <app-grid-wrapper>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{category.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          {{ category.description }}
        </p>
      </ion-card-content>
    </ion-card>
    
    <ion-list>
      <ion-list-header>
        <ion-label>Actions</ion-label>
      </ion-list-header>
      <ion-item button>
        <ion-icon slot="start" name="create"></ion-icon>
        <ion-label>Edit</ion-label>
      </ion-item>
      <ion-item button>
        <ion-icon slot="start" name="archive"></ion-icon>
        <ion-label >Archive</ion-label>
      </ion-item>
    </ion-list>
  </app-grid-wrapper>
</ion-content>