<ion-menu  menuId="user-menu" contentId="user-content" color="primary">
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title class="font-weight-bold">User Management</ion-title>
      <ion-button slot="end" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content color="primary">
    <ion-list class="p-0 m-0">
      <ion-item color="primary" button *ngFor="let menu of menus" routerLink="{{ menu.route }}" lines="none" details="none">
        <ion-icon  slot="start" name="{{ menu.icon }}"></ion-icon>
        <ion-label >{{ menu.text }}</ion-label>
      </ion-item >
    </ion-list>
  </ion-content>
</ion-menu>
