<ion-menu  menuId="user-menu" contentId="user-content" swipeGesture="false">
  <ion-header [translucent]="true">
    <ion-toolbar >
      <ion-title class="font-weight-bold">User Management</ion-title>
      <ion-button slot="end" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content >
    <ion-list class="p-0 m-0">
      <ng-container *ngFor="let menu of menus">
        <ion-menu-toggle menu="user-menu">
          <ion-item button  routerLink="{{ menu.route }}" lines="none" details="none" routerLinkActive="selected" >
            <ion-icon  slot="start" name="{{ menu.icon }}"></ion-icon>
            <ion-label >{{ menu.text }}</ion-label>
          </ion-item >
        </ion-menu-toggle>
      </ng-container>
      <app-menu-logout click="closeMenu()"></app-menu-logout>
    </ion-list>
  </ion-content>
</ion-menu>
