
<ion-modal trigger="add-user-btn" [isOpen]="isOpen" [initialBreakpoint]="1" [breakpoints]="[1]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="close()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Add User</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="addUserForm" >
        <ion-item>
          <ion-input labelPlacement="floating" label="Name" required formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement="floating" label="Email" required formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement="floating" label="Contact Number" required formControlName="contactNumber" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement="floating" label="Temporary Password" required formControlName="password" type="text"></ion-input>
        </ion-item>
        <ion-button block color="primary" type="submit" [disabled]="addUserForm.invalid">
          Save User
        </ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>