<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Upload Product Image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-grid-wrapper class="ion-no-padding">
    <ion-card class="m-1" color="primary">
      <ion-card-content >
        <ion-item color="primary">
          <ion-label>
            <h5 class="mb-0">Product</h5>
            <p class="mb-0">{{ product.name }}</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </app-grid-wrapper>

  <app-image-cropper product="{{ product }}" (onUpload)="uploadImage($event)" showUploadBtn="true"></app-image-cropper>
  
</ion-content>
