<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-grid-wrapper>
    <ion-card>
      <ion-card-content>
        <form [formGroup]="addCategoryForm" (ngSubmit)="submitAddCategory()">
          <ion-input  label="Category Name" labelPlacement="floating" required formControlName="name" type="text"></ion-input>
          <app-input-err-msg *ngIf="name?.hasError('required') && name?.touched">Category Name is required</app-input-err-msg>
          <app-input-err-msg *ngIf="name?.hasError('maxlength') && name?.touched">Max Length is 1000 characters</app-input-err-msg>

          <ion-textarea counter maxlength="5000" label="Description" labelPlacement="floating" formControlName="description" placeholder="Enter text"></ion-textarea>
          <app-input-err-msg *ngIf="description?.hasError('required') && description?.touched">Description is required</app-input-err-msg>
          <app-input-err-msg *ngIf="description?.hasError('maxlength') && description?.touched">Max Length is 5000 characters</app-input-err-msg>

          <ion-button class="pt-2" expand="block" color="primary" type="submit" [disabled]="addCategoryForm.invalid">
            Save Category
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </app-grid-wrapper>
  
</ion-content>
