<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="products-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Sales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-grid-wrapper>
    <ion-datetime-button #month_selector_button datetime="datetime"></ion-datetime-button>
    <ion-card>
      <ion-card-content>
        <ion-label color="primary">
          <span class=" mb-0 h3">{{ monthlyTotal | currency:'PHP' }} </span>
          <ion-label color="medium">Total Sales</ion-label>
        </ion-label><br>
        <ion-label color="medium">
          <span class="font-weight-bold mb-0">{{ (monthlyTotal - monthlyDeliveryTotal) | currency:'PHP' }} </span>
          <ion-label>Total Order Sales</ion-label>
        </ion-label><br>
        <ion-label color="medium">
          <span class="font-weight-bold mb-0">{{ monthlyDeliveryTotal | currency:'PHP' }} </span>
          <ion-label>Total Delivery Charge</ion-label>
        </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <h1 class="text-center">Monthly Sales Chart</h1>
      <canvas style="width: 100% !important;"
        baseChart
        class="chart"
        [data]="lineChartData"
        [options]="lineChartOptions"
        type="line"
      ></canvas>
    </ion-card>
  </app-grid-wrapper>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime #month_selector (ionChange)="datetime_changed($event)" [showDefaultButtons]="true" id="datetime" presentation="month-year"></ion-datetime>
  </ng-template>
</ion-modal>
