<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="menu">
      <ion-icon name="apps-sharp"></ion-icon>
      Menu
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart-sharp"></ion-icon>
      Cart <ion-badge color="danger" mode="ios">{{ menuService.cartCount }}</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="orders">
      <ion-icon name="basket-sharp"></ion-icon>
      Orders
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-sharp"></ion-icon>
      Profile
    </ion-tab-button>
    <ion-tab-button >
      <ion-icon name="settings-sharp"></ion-icon>
      Settings
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>