<ion-menu contentId="equipment_stocks_page" menuId="equipment_stocks_page_menu" #equipment_stocks_page_menu side="end" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title><i class="fa-solid fa-filter mr-1"></i>Filter</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <form [formGroup]="filterForm" (ngSubmit)="filterForm_submit()">
      <ion-input formControlName="equipment_name" type="text" label="Equipment Item Name" fill="solid" labelPlacement="floating"></ion-input>
      <ion-input formControlName="batch_no" type="text" label="Batch Number" fill="solid" labelPlacement="floating"></ion-input>
      <ion-input formControlName="eq_stock_no" type="text" label="Equipment Number" fill="solid" labelPlacement="floating"></ion-input>
      <ion-select formControlName="equipment_status" label="Equipment Status" value="STOCK" multiple="false" labelPlacement="floating" fill="solid">
        <ion-select-option value="STOCK">Stock</ion-select-option>
        <ion-select-option value="CONDEMNED">Condemned</ion-select-option>
        <ion-select-option value="IN_USE">In Use</ion-select-option>
        <ion-select-option value="LOST">Lost</ion-select-option>
      </ion-select>
      <br>
      <ion-button expand="block" color="primary" type="submit" [disabled]="filterForm.invalid">
        Login
      </ion-button>
    </form>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="showFilterMenu()">
        <ion-icon name="filter" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="equipment_stocks_page">
  <app-grid-wrapper>

  </app-grid-wrapper>
</ion-content>
